<div class="container">
    <div class="card purple lighten-5">
        <span class="card-title">
            <h1>{{array.0.name}}</h1>
            
        </span>
    </div>
</div>
<!--<div class="card-content">-->
<div class="container">
<div class="card">
    <table class="highlight centered responsive-table">
        <thead>
            <tr>
                <th>Office </th> 
                <th>Broker </th>
                <th>Client Advocate </th>
                <th>Industry</th>
                <th>Revenue</th>
                <th>Global Footprint</th>
                <th>Limits</th>
                <th>Losses</th>
                <th>Retentions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{array.0.office}}</td>
                <td>{{array.0.broker}}</td>
                <td>{{array.0.clientAdvocate}}</td>
                <td>{{array.0.industry}}</td>
                <td>{{array.0.revenue}}</td>
                <td>{{array.0.footprint}}</td>
                <td>{{array.0.limits}}</td>
                <td>{{array.0.losses}}</td>
                <td>{{array.0.retentions}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="container account-details">{{"Here we can have more text for a description"}}</div>
</div>
</div>
