{{#with account}}
<div class="container">
    <div class="card purple lighten-5">
        <span class="card-title">
            <h1>{{account_name}}</h1>
        </span>
    </div>
    <div class="container">
        <div class="card-content">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Account Name </th>
                        <th>Office </th>
                        <th>Broker </th>
                        <th>Client Advocate </th>
                        <th>Industry</th>
                        <th>Revenue</th>
                        <th>Global Footprint</th>
                        <th>Limits</th>
                        <th>Losses</th>
                        <th>Retentions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{account_office}}</td>
                        <td> {{account_broker}}</td>
                        <td> {{account_clientAdvocate}}</td>
                        <td> {{account_industry}}</td>
                        <td> {{account_revenue}}</td>
                        <td> {{account_footprint}}</td>
                        <td> {{account_limits}}</td>
                        <td> {{account_losses}}</td>
                        <td> {{account_retentions}}</td>

                    </tr>

                </tbody>
            </table>
            <div class="container account-details">{{account_details}}</div>
        </div>
    </div>
</div>

{{/with}}