<div class="container">

    <!--
    <blockquote>
    Click on the event name for more details!
    Click on <i class="material-icons tiny">sort</i> to sort by that column, or items in <i
        class="material-icons tiny">filter_list</i> columns to filter by that item.
    </blockquote>
    <div class="row">
    <div class="col l3 s12 "> <i class="left material-icons">sort</i>Sorted by: Yes!</div>
    <div class="col l3 offset-l6 ">
        Position diffeently (left) for mobile 
        <div class="right hide-on-small-only"><i class="left material-icons">filter_list</i>Filter: None</div>
        <div class="left hide-on-med-and-up"><i class="left material-icons">filter_list</i>Filter: None</div>
    </div>

    </div>
    -->

    <!-- https://materializecss.com/table.html -->

    <div>
        <!-- Searchbar -->
        <input type="text" placeholder="Search.." id="searchbox">
        <a class="waves-effect waves-light btn-small navbar"
            onclick="addUrlParameter('search', document.getElementById('searchbox').value)">Search</a>
    </div>

    <table class="highlight centered responsive-table">
        <thead>
            <th>Client Name</th>
            {{#if include_office}}
            <th>Office/Market</th>
            {{/if}}
            {{#if include_broker}}
            <th>Placement Broker</th>
            {{/if}}
            {{#if include_executive}}
            <th>Client Advocate/Account Executive</th>
            {{/if}}
            {{#if include_industry}}
            <th>SIC Code/Industry</th>
            {{/if}}
            {{#if include_revenue}}
            <th>Revenue (Band)</th>
            {{/if}}
            {{#if include_footprint}}
            <th>Global Footprint (Number of Countries)</th>
            {{/if}}
            {{#if include_limits}}
            <th>Limits</th>
            {{/if}}
            {{#if include_losses}}
            <th>Losses</th>
            {{/if}}
            {{#if include_retentions}}
            <th>Retentions</th>
            {{/if}}
        </thead>
        <tbody>
            <tr>
                {{#each array}}
            <tr>
                <td>{{this.name}}</td>
                {{#if include_office}}
                <td>{{this.office}}</td>
                {{/if}}
                {{#if include_broker}}
                <td>{{this.broker}}</td>
                {{/if}}
                {{#if include_executive}}
                <td>{{this.clientAdvocate}}</td>
                {{/if}}
                {{#if include_industry}}
                <td>{{this.industry}}</td>
                {{/if}}
                {{#if include_footprint}}
                <td>{{this.revenue}}</td>
                {{/if}}
                {{#if include_footprint}}
                <td>{{this.footprint}}</td>
                {{/if}}
                {{#if include_limits}}
                <td>{{this.limits}}</td>
                {{/if}}
                {{#if include_losses}}
                <td>{{this.losses}}</td>
                {{/if}}
                {{#if include_retentions}}
                <td>{{this.retentions}}</td>
                {{/if}}
            </tr>
            {{/each}}
            </tr>
        </tbody>
    </table>
</div>

<div class="sidebar">

    <p></p>
    {{#if include_office}}
    <a onclick="addUrlParameter('include_office', 'false')">Including Office</a>
    {{else}}
    <a onclick="addUrlParameter('include_office', 'true')">Excluding Office</a>
    {{/if}}

    <p></p>
    {{#if include_broker}}
    <a onclick="addUrlParameter('include_broker', 'false')">Including Broker</a>
    {{else}}
    <a onclick="addUrlParameter('include_broker', 'true')">Excluding Broker</a>
    {{/if}}

    <p></p>
    {{#if include_executive}}
    <a onclick="addUrlParameter('include_executive', 'false')">Including Placement Broker</a>
    {{else}}
    <a onclick="addUrlParameter('include_executive', 'true')">Excluding Placement Broker</a>
    {{/if}}

    <p></p>
    {{#if include_industry}}
    <a onclick="addUrlParameter('include_industry', 'false')">Including SIC Code/Industry</a>
    {{else}}
    <a onclick="addUrlParameter('include_industry', 'true')">Excluding SIC Code/Industry</a>
    {{/if}}

    <p></p>
    {{#if include_revenue}}
    <a onclick="addUrlParameter('include_revenue', 'false')">Including Revenue</a>
    {{else}}
    <a onclick="addUrlParameter('include_revenue', 'true')">Excluding Revenue</a>
    {{/if}}

    <p></p>
    {{#if include_footprint}}
    <a onclick="addUrlParameter('include_footprint', 'false')">Including Global Footprint</a>
    {{else}}
    <a onclick="addUrlParameter('include_footprint', 'true')">Excluding Global Footprint</a>
    {{/if}}

    <p></p>
    {{#if include_limits}}
    <a onclick="addUrlParameter('include_limits', 'false')">Including Limits</a>
    {{else}}
    <a onclick="addUrlParameter('include_limits', 'true')">Excluding Limits</a>
    {{/if}}

    <p></p>
    {{#if include_losses}}
    <a onclick="addUrlParameter('include_losses', 'false')">Including Losses</a>
    {{else}}
    <a onclick="addUrlParameter('include_losses', 'true')">Excluding Losses</a>
    {{/if}}

    <p></p>
    {{#if include_retentions}}
    <a onclick="addUrlParameter('include_retentions', 'false')">Including Retentions</a>
    {{else}}
    <a onclick="addUrlParameter('include_retentions', 'true')">Excluding Retentions</a>
    {{/if}}

</div>