<div class="container">
    <div class="card purple lighten-5">
        <span class="card-title">Search for {{param}}</span>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="search_buttons">
            {{#each vals}}
            <div class="search_button">
                {{#if ../redir}}
                <a class="submit waves-effect waves-light btn btn-large main_color"
                    onclick="goToMain('{{../real_param}}', encodeURIComponent('{{this}}'))">{{this}}</a>
                {{else}}
                <a class="submit waves-effect waves-light btn btn-large main_color"
                    onclick="addUrlParameter('{{../real_param}}', encodeURIComponent('{{this}}'))">{{this}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    function goToMain(param, to_add) {
        var newURL = JSON.parse(JSON.stringify(window.location));
        newURL.pathname = "/main";
        
        var searchParams = new URLSearchParams(newURL.search)
        searchParams.set(param, to_add)
        newURL.search = searchParams.toString();

        window.location.assign(newURL.origin.toString() + newURL.pathname.toString() + "?" + newURL.search.toString())
    }
</script>
